@font-face {
  font-family: 'Source Sans 3';
  src: url('SourceSans3-It.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('SourceSans3-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('SourceSans3-BoldIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
